// Fonts
$opensans-fonts: 'Open Sans', sans-serif;
$montserrat-fonts: 'Montserrat', sans-serif;
@font-face {
    font-family: 'CallingCode-Regular';
    src: url('assets/fonts/CallingCode-Regular.ttf')
 }