

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(<%= asset_path 'tour2.jpg' %>);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Повече за нас</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"> <%= link_to 'Начало', root_path %></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Area Start ###### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>
                            <p>За Нас</p>
                            <h2>За Центъра</h2>
                        </div>
                        <h4 class="mb-4">Залата разполага със професионално оборудване и 5 професионални маси - Stiga, одобрени от Международната Федерация по Тенис на Маса (ITTF). Настилката е ламиниран паркет, а осветлението е изкуствено. Предлагаме наем на тенис хилки и топчета, както и тренировка със майстор на спорта.
                          <br>
                          Намираме се в спортен комплекс "Електра" - квартал Славейков.
                        </h4>
                        <p class="mb-0"></p>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="img/map.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us End -->

    <!-- Services Start -->
