<div class="navbar">
  <a href="#home">Home Page </a>
  <a href="#about">About Us</a>
  <div class="dropdown">
    <button class="dropbtn">Events
      <!-- An Icon for the dropdown -->
    </button>
    <div class="dropdown-content">
      <a href="/">Monthly Tournnament</a>
      <a href="/gladiator">"Gladiator" League</a>
      <a href="/ranklist">Ranking</a>
    </div>
  </div>
</div>

<h1>About Us</h1>
<h3>We are table tennis hall!</h3>
