<div class="navbar">
  <a href="/">Home Page </a>
  <a href="/about">About Us</a>
  <div class="dropdown">
    <button class="dropbtn">Events
      <!-- An Icon for the dropdown -->
    </button>
    <div class="dropdown-content">
      <a href="/tour">Monthly Tournnament</a>
      <a href="/gladiator">"Gladiator" League</a>
      <a href="/ranklist">Ranking</a>
    </div>
  </div>
</div>

<h1>Table Tennis Burgas</h1>
<h3>Come and play right now!</h3>
