
<!-- ##### Header Area End ##### -->



<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="hero-slideshow owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg1.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms"></h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms"><span>Тенисът на маса </span> <br> в гр. Бургас</h2>
                            <br>
                            <a href="tel:0886460005"<button class="button-w3 call-number slider-button">Обади се сега!</button> </a>
                            <!-- <p data-animation="fadeInUp" data-delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p> -->
                            <!-- <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
       <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">

            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/masa1.jpg);"></div>
            <!-- Welcome Text -->
           <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms"></h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">Влез във <span>форма</span>, <br> запиши <span>час</span> сега!</h2>
                            <br>
                            <a href="tel:0886460005"<button class="button-w3 call-number slider-button">Обади се сега!</button> </a>
                            <p data-animation="fadeInDown" data-delay="500ms"></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <!-- <div class="slide-du-indicator"></div>
        </div> -->

        <!-- Single Slide -->
    <!--    <div class="single-slide bg-img">

            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);"></div>

            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">2 years interest</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">get your <span>loan</span> now</h2>
                            <p data-animation="fadeInUp" data-delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p>
                            <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-du-indicator"></div>
        </div> -->

        <!-- Single Slide -->
        <!-- <div class="single-slide bg-img"> -->
            <!-- Background Image-->
            <!-- <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/5.jpg);"></div> -->
            <!-- Welcome Text -->
            <!-- <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">2 years interest</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">get your <span>loan</span> now</h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p>
                            <a href="#" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- About Us start -->

<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Информация</p>
                        <h2>За Нас</h2>

                    </div>
                    <h4 class="about-info">Центърът за тенис на маса се намира в спортния комплекс "Елекра" на <b>улица Янко Комитов №16. /до Каулфланд, кв. Славейков/. </b>
                    <br><br>
                    Работим всеки ден и предлагаме наем на хилки с топчета. <br> Какво още чакате? Запише час сега! </h6>

                    <a href="/about"<button class="button-w3">Повече информация</button> </a>
                  <a href="tel:0886460005"<button class="button-w3 call-number">+359 886 460 005</button> </a>

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img class="about-img" src="img/elektra2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Us End -->

<!-- Services Start -->


<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">

                    <p>Повече детайли</p>
                    <h2>Работно време <br> & <br> Ценоразпис</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">

                        <i class="fas fa-table-tennis"></i>
                    </div>
                    <div class="text">
                        <h5>Понеделник - Петък <br><br><b> 13.00ч - 21.00ч.</b></h5><br>


                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <div class="icon">
                        <i class="fas fa-table-tennis"></i>
                    </div>
                    <div class="text">
                          <h5>Събота и Неделя<br><br><b> 13.00ч - 18.00ч.</b></h5>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <i class="fas fa-table-tennis"></i>
                    </div>
                    <div class="text">
                        <h5>Наем на маса за един час: <br><br> <b> 13.00ч. до 17.00ч. - 5 лева</h5>
                        <h5><br><b> 17.00ч. до 21.00ч. - 8 лева</h5>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->




        </div>
    </div>
</section>


<!-- Services End -->










<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap">
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url(img/tour1.jpg);"></div>

    <!-- Cta Content -->
    <div class="cta-content">
        <!-- Section Heading -->
        <div class="section-heading white">
            <div class="line"></div>
            <p>Състезания и Турнири</p>
            <h2>Състезавай се <br>редом до най-добрите</h2>
        </div>
        <h6 class="info-tour-text">Центърът за тенис на маса организира различни съревнование и турнири всяка седмица. <br>Състезавай се редом до най-добрите от Бургаска (и не само) област всяка седмица в лигата ни "Гладиатори" и премери сили в нашия ежемесечен турнир с участници от цяла България. <br>Виж повече информация чрез бутоните ни по-долу:</h6>

        <br>
        <!-- <a href="#" class="btn credit-btn box-shadow btn-2">Лига "Гладиатори"</a> -->
        <!-- <a href="#" class="btn credit-btn box-shadow btn-2">Месечен Турнир</a> -->
        <button class="button-w3 league">Месечен Турнир</button>
      <a href='/gladiators'>  <button class="button-w3 league">Лига "Гладиатори"</button> </a>

    </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="cta-text">
                        <h4>Готови сте за игра? Запазете маса сега!</h4>
                    </div>
                    <div class="cta-btn">
                        <a href="tel:0886460005"<button class="button-w3 footer-call">+359 886 460 005</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Services Area Start ###### -->

<!-- ##### Services Area End ###### -->

<!-- ##### Miscellaneous Area Start ###### -->

<!-- ##### Miscellaneous Area End ###### -->

<!-- ##### Newsletter Area Start ###### -->
