<!--  -->
<!-- <!&#45;&#45; ##### Header Area End ##### &#45;&#45;> -->
<!--  -->
<!--  -->
<!--  -->
<!-- <!&#45;&#45; ##### Hero Area Start ##### &#45;&#45;> -->
<!-- <div class="hero&#45;area"> -->
<!--     <div class="hero&#45;slideshow"> -->
<!--  -->
<!--         <!&#45;&#45; Single Slide &#45;&#45;> -->
<!--         <div class="single&#45;slide bg&#45;img"> -->
<!--             <!&#45;&#45; Background Image&#45;&#45;> -->
<!--             <div class="slide&#45;bg&#45;img bg&#45;img bg&#45;overlay" style="background&#45;image: url(img/bg1.jpg);"></div> -->
<!--             <!&#45;&#45; Welcome Text &#45;&#45;> -->
<!--             <div class="container h&#45;100"> -->
<!--                 <div class="row h&#45;100 align&#45;items&#45;center justify&#45;content&#45;center"> -->
<!--                     <div class="col&#45;12 col&#45;lg&#45;9"> -->
<!--                         <div class="welcome&#45;text text&#45;center"> -->
<!--                             <h6 data&#45;animation="fadeInUp" data&#45;delay="100ms"></h6> -->
<!--                             <h2 data&#45;animation="fadeInUp" data&#45;delay="300ms"><span>Тенисът на маса </span> <br> в гр. Бургас</h2> -->
<!--                             <br> -->
<!--                             <a href="tel:0886460005"<button class="button&#45;w3 call&#45;number slider&#45;button">Обади се сега!</button> </a> -->
<!--                             <!&#45;&#45; <p data&#45;animation="fadeInUp" data&#45;delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p> &#45;&#45;> -->
<!--                             <!&#45;&#45; <a href="#" class="btn credit&#45;btn mt&#45;50" data&#45;animation="fadeInUp" data&#45;delay="700ms">Discover</a> &#45;&#45;> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <!&#45;&#45; Slide Duration Indicator &#45;&#45;> -->
<!--        <div class="slide&#45;du&#45;indicator"></div> -->
<!--         </div> -->
<!--  -->
<!--         <!&#45;&#45; Single Slide &#45;&#45;> -->
<!--         <!&#45;&#45; <div class="single&#45;slide bg&#45;img"> -->
<!--  -->
<!--             <div class="slide&#45;bg&#45;img bg&#45;img bg&#45;overlay" style="background&#45;image: url(img/masa1.jpg);"></div> -->
<!--  -->
<!--            <div class="container h&#45;100"> -->
<!--                 <div class="row h&#45;100 align&#45;items&#45;center justify&#45;content&#45;center"> -->
<!--                     <div class="col&#45;12 col&#45;lg&#45;9"> -->
<!--                         <div class="welcome&#45;text text&#45;center"> -->
<!--                             <h6 data&#45;animation="fadeInDown" data&#45;delay="100ms"></h6> -->
<!--                             <h2 data&#45;animation="fadeInDown" data&#45;delay="300ms">Влез във <span>форма</span>, <br> запиши <span>час</span> сега!</h2> -->
<!--                             <br> -->
<!--                             <a href="tel:0886460005"<button class="button&#45;w3 call&#45;number slider&#45;button">Обади се сега!</button> </a> -->
<!--                             <p data&#45;animation="fadeInDown" data&#45;delay="500ms"></p> -->
<!--  -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> &#45;&#45;> -->
<!--             <!&#45;&#45; Slide Duration Indicator &#45;&#45;> -->
<!--             <!&#45;&#45; <div class="slide&#45;du&#45;indicator"></div> -->
<!--         </div> &#45;&#45;> -->
<!--  -->
<!--         <!&#45;&#45; Single Slide &#45;&#45;> -->
<!--     <!&#45;&#45;    <div class="single&#45;slide bg&#45;img"> -->
<!--  -->
<!--             <div class="slide&#45;bg&#45;img bg&#45;img bg&#45;overlay" style="background&#45;image: url(img/bg&#45;img/1.jpg);"></div> -->
<!--  -->
<!--             <div class="container h&#45;100"> -->
<!--                 <div class="row h&#45;100 align&#45;items&#45;center justify&#45;content&#45;center"> -->
<!--                     <div class="col&#45;12 col&#45;lg&#45;9"> -->
<!--                         <div class="welcome&#45;text text&#45;center"> -->
<!--                             <h6 data&#45;animation="fadeInUp" data&#45;delay="100ms">2 years interest</h6> -->
<!--                             <h2 data&#45;animation="fadeInUp" data&#45;delay="300ms">get your <span>loan</span> now</h2> -->
<!--                             <p data&#45;animation="fadeInUp" data&#45;delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p> -->
<!--                             <a href="#" class="btn credit&#45;btn mt&#45;50" data&#45;animation="fadeInUp" data&#45;delay="700ms">Discover</a> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--  -->
<!--             <div class="slide&#45;du&#45;indicator"></div> -->
<!--         </div> &#45;&#45;> -->
<!--  -->
<!--         <!&#45;&#45; Single Slide &#45;&#45;> -->
<!--         <!&#45;&#45; <div class="single&#45;slide bg&#45;img"> &#45;&#45;> -->
<!--             <!&#45;&#45; Background Image&#45;&#45;> -->
<!--             <!&#45;&#45; <div class="slide&#45;bg&#45;img bg&#45;img bg&#45;overlay" style="background&#45;image: url(img/bg&#45;img/5.jpg);"></div> &#45;&#45;> -->
<!--             <!&#45;&#45; Welcome Text &#45;&#45;> -->
<!--             <!&#45;&#45; <div class="container h&#45;100"> -->
<!--                 <div class="row h&#45;100 align&#45;items&#45;center justify&#45;content&#45;center"> -->
<!--                     <div class="col&#45;12 col&#45;lg&#45;9"> -->
<!--                         <div class="welcome&#45;text text&#45;center"> -->
<!--                             <h6 data&#45;animation="fadeInDown" data&#45;delay="100ms">2 years interest</h6> -->
<!--                             <h2 data&#45;animation="fadeInDown" data&#45;delay="300ms">get your <span>loan</span> now</h2> -->
<!--                             <p data&#45;animation="fadeInDown" data&#45;delay="500ms">Vestibulum eu vehicula elit, nec elementum orci. Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p> -->
<!--                             <a href="#" class="btn credit&#45;btn mt&#45;50" data&#45;animation="fadeInDown" data&#45;delay="700ms">Discover</a> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> &#45;&#45;> -->
<!--             <!&#45;&#45; Slide Duration Indicator &#45;&#45;> -->
<!--             <!&#45;&#45; <div class="slide&#45;du&#45;indicator"></div> -->
<!--         </div> &#45;&#45;> -->
<!--  -->
<!--     </div> -->
<!-- </div> -->
<!-- <!&#45;&#45; ##### Hero Area End ##### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; About Us start &#45;&#45;> -->
<!--  -->
<!-- <section class="about&#45;area section&#45;padding&#45;100&#45;0"> -->
<!--     <div class="container"> -->
<!--         <div class="row align&#45;items&#45;center"> -->
<!--             <div class="col&#45;12 col&#45;md&#45;6"> -->
<!--                 <div class="about&#45;content mb&#45;100"> -->
<!--                     <!&#45;&#45; Section Heading &#45;&#45;> -->
<!--                     <div class="section&#45;heading"> -->
<!--                         <div class="line"></div> -->
<!--                         <p>Информация</p> -->
<!--                         <h2>За Нас</h2> -->
<!--  -->
<!--                     </div> -->
<!--                     <h4 class="about&#45;info">Центърът за тенис на маса се намира в спортния комплекс "Елекра" на <b>улица Янко Комитов №16. /до Каулфланд, кв. Славейков/. </b> -->
<!--                     <br><br> -->
<!--  -->
<!--  -->
<!--                     <button type="button" href="tel:0886460005" class="btn btn&#45;success">+359 886 460 005</button> -->
<!--                   </h4> -->
<!--  -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="col&#45;12 col&#45;md&#45;6"> -->
<!--                 <div class="about&#45;thumbnail mb&#45;100"> -->
<!--                     <img class="about&#45;img" src="img/elektra2.png" alt=""> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </section> -->
<!--  -->
<!-- <!&#45;&#45; About Us End &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; Services Start &#45;&#45;> -->
<!--  -->
<!--  -->
<!-- <section class="services&#45;area section&#45;padding&#45;100&#45;0"> -->
<!--     <div class="container"> -->
<!--         <div class="row"> -->
<!--             <div class="col&#45;12"> -->
<!--                 <!&#45;&#45; Section Heading &#45;&#45;> -->
<!--                 <div class="section&#45;heading text&#45;center mb&#45;100 wow fadeInUp" data&#45;wow&#45;delay="100ms"> -->
<!--  -->
<!--                     <p>Повече детайли</p> -->
<!--                     <h2>Работно време </h2> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--  -->
<!--         <div class="row"> -->
<!--             <!&#45;&#45; Single Service Area &#45;&#45;> -->
<!--             <div class="col&#45;12 col&#45;md&#45;6 col&#45;lg&#45;4"> -->
<!--                 <div class="single&#45;service&#45;area d&#45;flex mb&#45;100 wow fadeInUp" data&#45;wow&#45;delay="200ms"> -->
<!--                     <div class="icon"> -->
<!--  -->
<!--                         <i class="fas fa&#45;clock"></i> -->
<!--                     </div> -->
<!--                     <div class="text"> -->
<!--                         <h5>Понеделник &#45; Петък <br><br><b> 13.00ч &#45; 21.00ч.</b></h5><br> -->
<!--  -->
<!--  -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--  -->
<!--             <div class="col&#45;12 col&#45;md&#45;6 col&#45;lg&#45;4"> -->
<!--                 <div class="single&#45;service&#45;area d&#45;flex mb&#45;100 wow fadeInUp" data&#45;wow&#45;delay="400ms"> -->
<!--                     <div class="icon"> -->
<!--                         <i class="fas fa&#45;clock"></i> -->
<!--                     </div> -->
<!--                     <div class="text"> -->
<!--                           <h5>Събота и Неделя<br><br><b> 13.00ч &#45; 18.00ч.</b></h5> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--  -->
<!--             <!&#45;&#45; Single Service Area &#45;&#45;> -->
<!--             <div class="col&#45;12 col&#45;md&#45;6 col&#45;lg&#45;4"> -->
<!--                 <div class="single&#45;service&#45;area d&#45;flex mb&#45;100 wow fadeInUp" data&#45;wow&#45;delay="300ms"> -->
<!--                     <div class="icon"> -->
<!--                         <i class="fas fa&#45;table&#45;tennis"></i> -->
<!--                     </div> -->
<!--                     <div class="text"> -->
<!--                         <h5>Играй сега:</h5> -->
<!--                         <h5><br><b>+359 88 646 0005</h5> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--  -->
<!--             <!&#45;&#45; Single Service Area &#45;&#45;> -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--         </div> -->
<!--     </div> -->
<!-- </section> -->
<!--  -->
<!--  -->
<!-- <!&#45;&#45; Services End &#45;&#45;> -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!-- <!&#45;&#45; ##### Call To Action Start ###### &#45;&#45;> -->
<!-- <section class="cta&#45;area d&#45;flex flex&#45;wrap"> -->
<!--     <!&#45;&#45; Cta Thumbnail &#45;&#45;> -->
<!--     <div class="cta&#45;thumbnail bg&#45;img jarallax" style="background&#45;image: url(img/tour1.jpg);"></div> -->
<!--  -->
<!--     <!&#45;&#45; Cta Content &#45;&#45;> -->
<!--     <div class="cta&#45;content"> -->
<!--         <!&#45;&#45; Section Heading &#45;&#45;> -->
<!--         <div class="section&#45;heading white"> -->
<!--             <div class="line"></div> -->
<!--             <p>Състезания и Турнири</p> -->
<!--             <h2>Състезавай се <br>редом до най&#45;добрите</h2> -->
<!--         </div> -->
<!--         <h6 class="info&#45;tour&#45;text">Центърът за тенис на маса организира различни съревнование и турнири всяка седмица. <br>Състезавай се редом до най&#45;добрите от Бургаска (и не само) област всяка седмица в лигата ни "Гладиатори" и премери сили в нашия ежемесечен турнир с участници от цяла България. <br>Виж повече информация чрез бутоните ни по&#45;долу:</h6> -->
<!--  -->
<!--         <br> -->
<!--         <!&#45;&#45; <a href="#" class="btn credit&#45;btn box&#45;shadow btn&#45;2">Лига "Гладиатори"</a> &#45;&#45;> -->
<!--         <!&#45;&#45; <a href="#" class="btn credit&#45;btn box&#45;shadow btn&#45;2">Месечен Турнир</a> &#45;&#45;> -->
<!--         <button class="button&#45;w3 league">Месечен Турнир</button> -->
<!--       <a href='/gladiators'>  <button class="button&#45;w3 league">Лига "Гладиатори"</button> </a> -->
<!--  -->
<!--     </div> -->
<!-- </section> -->
<!-- <!&#45;&#45; ##### Call To Action End ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Call To Action Start ###### &#45;&#45;> -->
<!-- <section class="cta&#45;2&#45;area wow fadeInUp" data&#45;wow&#45;delay="100ms"> -->
<!--     <div class="container"> -->
<!--         <div class="row"> -->
<!--             <div class="col&#45;12"> -->
<!--                 <!&#45;&#45; Cta Content &#45;&#45;> -->
<!--                 <div class="cta&#45;content d&#45;flex flex&#45;wrap align&#45;items&#45;center justify&#45;content&#45;between"> -->
<!--                     <div class="cta&#45;text"> -->
<!--                         <h4>Готови сте за игра? Запазете маса сега!</h4> -->
<!--                     </div> -->
<!--                     <div class="cta&#45;btn"> -->
<!--                         <a href="tel:0886460005"<button class="button&#45;w3 footer&#45;call">+359 886 460 005</button> </a> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </section> -->
<!-- <!&#45;&#45; ##### Call To Action End ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Services Area Start ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Services Area End ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Miscellaneous Area Start ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Miscellaneous Area End ###### &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; ##### Newsletter Area Start ###### &#45;&#45;> -->
