<!-- <div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-0 phone pl-md-2">
          <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a>
          <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <div class="social-media mr-4">
          <p class="mb-0 d-flex">
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
          </p>
        </div>
        <div class="reg">
          <p class="mb-0"><a href="#" class="mr-2">Sign Up</a> <a href="#">Log In</a></p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Tennis <span>Burgas</span>.com</a>
    <div class="order-lg-last btn-group">
      <!-- <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-shopping-bag"></span>
        <div class="d-flex justify-content-center align-items-center"><small>3</small></div>
      </a> -->

    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li> -->
        <!-- <li class="nav-item"><a href="about.html" class="nav-link">About</a></li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="product.html">Products</a>
            <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="cart.html">Cart</a>
            <a class="dropdown-item" href="checkout.html">Checkout</a>
          </div>
        </li> -->
        <li class="nav-item"><a href="blog.html" class="nav-link">Лига "Гладиатори"</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Месечен Турнир</a></li>
        <br>
        <li class="nav-item"><a href="contact.html" class="nav-link">Логин</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap" style="background-image: url('img/bg3-crop.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-8  d-flex align-items-end">
        <div class="text w-100 text-center">
          <h1 class="mb-4"><span>Тенисът на маса в град Бургас </span></h1>
          <!-- <p><a href="#" class="btn btn-primary py-2 px-4">Shop Now</a> <a href="#" class="btn btn-white btn-outline-white py-2 px-4">Read more</a></p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 ">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>Къде се намираме?</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 ">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>Работно време Пон-Пет</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 ">
          <div class="icon">
            <span class="flaticon-free-delivery"></span>
          </div>
          <div class="text">
            <h2>Работно време Съб-Нед</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(img/elektra2.png);">
      </div>
      <div class="col-md-6 wrap-about pl-md-5  py-5">
        <div class="heading-section">
          <span class="subheading">Локация</span>
          <h2 class="mb-4">Намерете ни сега</h2>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
          <!-- <p class="year">
            <strong class="number" data-number="115">0</strong>
            <span>Years of Experience In Business</span>
          </p> -->
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-1.jpg);"></div>
          <h3>Brandy</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-2.jpg);"></div>
          <h3>Gin</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-3.jpg);"></div>
          <h3>Rum</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-4.jpg);"></div>
          <h3>Tequila</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-5.jpg);"></div>
          <h3>Vodka</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ">
          <div class="img" style="background-image: url(images/kind-6.jpg);"></div>
          <h3>Whiskey</h3>
        </div>
      </div>

    </div>
  </div>
</section> -->

<br><br><br><br><br><br>


<section class="ftco-section testimony-section img" style="background-image: url(tour2.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ">
        <span class="subheading">Турнири</span>
        <h2 class="mb-3">Състезавай се до най-добрите!</h2>
        <br><br>
        <button type="button" class="btn btn-secondary">Лига "Гладиатори"</button>
        <button type="button" class="btn btn-secondary">Месечен Турнир</button>
        <br>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ">
        <span class="subheading">Blog</span>
        <h2>Recent Blog</h2>
      </div>
    </div> -->


    <!--  Google Map -->
<div style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(%D0%A6%D0%B5%D0%BD%D1%82%D1%8A%D1%80%20%D0%B7%D0%B0%20%D1%82%D0%B5%D0%BD%D0%B8%D1%81%20%D0%BD%D0%B0%20%D0%BC%D0%B0%D1%81%D0%B0%20%D0%B1%D1%83%D1%80%D0%B3%D0%B0%D1%81)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="600" frameborder="0"></iframe><a href="https://www.maps.ie/route-planner.htm"></a></div>


<!-- <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ">
        <span class="subheading">location</span>
        <h2>Map</h2>
      </div>
    </div>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
    </div> -->

  <!-- </div>
</section> -->





<footer class="ftco-footer">
  <!-- <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo"><a href="#">Liquor <span>Store</span></a></h2>
          <p>Far far away, behind the word mountains, far from the countries.</p>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li class=""><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class=""><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class=""><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">My Accounts</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Account</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Register</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Log In</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Order</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About us</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Catalog</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact us</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Link</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New User</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Help Center</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Report Spam</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Faq's</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid px-0 py-5 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p class="mb-0" style="color: rgba(255,255,255,.5);">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> TennisBurgas.com | All Rights Reserved!</p>
        <p> <a href="https://bratac.net" target="_blank"> Code and design by Bratac.net </a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
