.button-w3
{
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 40px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50px;
}

.about-info
{
  text-align: center;
  font-weight: normal;
}

.league
{
  background-color: #008CBA;
  border-radius: 50px;
}

.footer-call
{
  border-radius: 50px;
}

@media screen and (min-width: 1000px)
  {
    .call-number
    {
      visibility: hidden;
      display: none;

    }

  }

.about-img
{
  border-radius: 15px;
}

.info-tour-text
{
  text-align: center;
}
