<div id="fh5co-started" class="fh5co-bg" style="background-image: url(tour2.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <br><br><br><br><br>
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Център за Тенис на Маса - гр. Бургас <br><span class="percent">Всички права запазени!</span></h2>
      </div>
    </div>
    <br><br><br><br><br><br><br>
  </div>
</div>



<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);" role="contentinfo">
  <div class="overlay"></div>
  <div class="container">
    <div class="row row-pb-md">


    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <div class="col-md-4 fh5co-widget">
          <h3>Code and Desing by:</h3>


        </div>
        <p>

        </p>
      </div>
    </div>

  </div>
</footer>


<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
