
    <section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(tour2.jpg);">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2>Център за Тенис на Маса <br> град Бургас</h2>
                        <!-- <form action="#" method="post">
                            <input type="email" name="nl-email" id="nlemail" placeholder="Your e-mail">
                            <button type="submit">Subscribe</button>
                        </form> -->
                        <p>Всички права запазени!</p>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ###### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">


        <!-- Copywrite Area -->
        <div class="copywrite-area">

            <div class="container">

                <div class="row">
                    <div class="col-12">


                      <%- if current_admin %>
                      <button class="button-w3"><%= link_to 'Излез', destroy_admin_session_path, method: :delete %> </button>
                      <% else %>
                      <button class="button-w3"><%= link_to 'Логин', new_admin_session_path %> </button>
                      <% end %>

                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img src="img/core-img/logo.png" alt=""></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><a href="https://bratac.net" target="_blank">©2021 Copyright Bratac | All Rights Reserved!</a></p>

                        </div>
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img src="img/core-img/logo.png" alt=""></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><a href="https://bratac.net" target="_blank"> Web Design and Code by Bratac.net</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
