<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Реклама</h4>
          <!-- <p></p> -->
          <!-- <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><span>Tennis</span>Burgas<span>.com</span></h3>
          <p class = "text-center">
            Янко Комитов №16, до Каулфланд <br>
            Бургас, България<br>
            <br>
            <strong>Phone:</strong> +359 886 460 005<br>
            <strong>Email:</strong> contact@tennisburgas.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Навигация</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Социални Мрежи</h4>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fab fa-facebook"></i></a>

          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Админ достъп</h4>
          <p></p>

          <%= if current_admin %>
            <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Логин', new_admin_session_path, class: 'btn btn-success'%>
           <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">

    <div class="copyright">
      &copy; Авторско Право <strong><span>TennisBurgas.com</span></strong>. Всички Права Запазени!
      <br>
      &copy; Copyright <strong><span>TennisBurgas.com</span></strong>. All Rights Reserved!
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
      <br>
      FullStack development by <a href="https://bootstrapmade.com/">BraTac.net</a>
    </div>
  </div>
</footer>
