<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10%;
   background-color: rgb(150, 150, 0);
   background-image:url("https://static.vecteezy.com/system/resources/previews/000/663/569/original/vector-ping-pong-table-tennis.png");
   background-position: center;
   color: white;
   text-align: center;
}
</style>
<div class= "footer">
<a href = "">
<div class = "text">
   <p>Nikolay Patarov, Ysen Kostov, Rumen Milushev</p>
<%= link_to 'Tennis Hall', root_path %>
</head>
