<div id="page">
<nav class="fh5co-nav" role="navigation">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-right">
          <p class="num">Call: +01 123 456 7890</p>
          <ul class="fh5co-social">
            <!-- <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
            <li><a href="#"><i class="icon-github"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo"><a href="/">Tennis<span>Burgas</span>.com</a></div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <!-- <li class="active"><a href="index.html">Home</a></li> -->
            <li>  <%= link_to 'Лига "Гладиатори"', gladiators_path %> </li>
            <li> <%= link_to 'Месечен Турнир', gladiators_path %> </li>
            <li> <%= link_to 'Класиране', gladiators_path %> </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
