<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="/">TennisBurgas</a></h1>


    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li> <%= link_to 'Лига "Гладиатори"', gladiators_path %> </li>
        <li> <%= link_to 'Месечен Турнир', gladiators_path %> </li>
        <li> <%= link_to 'Класиране', gladiators_path %> </li>
        <li> <%= link_to 'Играчи', players_path %> </li>






      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header>
